node_modules/
# .node_modules is a hack for the electron builder.
.node_modules/
lib/
build/
downloads/
!electron/build/
src-gen/
arduino-ide-*/webpack.config.js
.DS_Store
/workspace/static
# switching from `electron` to `browser` in dev mode.
.browser_modules
