.arduino-select__control {
    border: var(--theia-border-width) solid var(--theia-dropdown-border) !important;
    background: var(--theia-dropdown-background) !important;
    border-radius: var(--arduino-radius-md) !important;
    transition: border-color var(--arduino-transition) !important;
}

.arduino-select__control:hover {
    border-color: var(--theia-focusBorder) !important;
}

.arduino-select__control--is-focused {
    box-shadow: 0 0 0 1px var(--theia-focusBorder) !important;
    border-color: var(--theia-focusBorder) !important;
}

.arduino-select__option--is-selected {
    background-color: var(--theia-list-activeSelectionBackground) !important;
    color: var(--theia-list-activeSelectionForeground) !important;
}

.arduino-select__option--is-focused {
    background-color: var(--theia-list-hoverBackground) !important;
}

.arduino-select__option--is-focused.arduino-select__option--is-selected {
    background-color: var(--theia-list-activeSelectionBackground) !important;
    color: var(--theia-list-activeSelectionForeground) !important;
}

.arduino-select__menu {
    background-color: var(--theia-dropdown-background) !important;
    border: 1px solid var(--theia-dropdown-border) !important;
    border-radius: var(--arduino-radius-md) !important;
    top: auto !important;
    box-shadow: var(--arduino-shadow-md) !important;
}

.arduino-select__control.arduino-select__control--menu-is-open {
    border-color: var(--theia-focusBorder) !important;
    border-bottom-color: var(--theia-dropdown-background) !important;
}

.arduino-select__value-container .arduino-select__single-value {
    color: var(--theia-descriptionForeground) !important;
}

.arduino-select__menu-list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
