div#select-board-dialog {
    margin: 5px 20px 50px 20px;
}

div#select-board-dialog .selectBoardContainer .body {
    display: flex;
    overflow: hidden;
}

div.dialogContent.select-board-dialog > div.head {
    padding-left: 21px;
}

div.dialogContent.select-board-dialog > div.head .title {
    font-weight: 400;
    letter-spacing: .02em;
    font-size: 1.2em;
    color: #00979d;
    margin: 17px 0;
}

div#select-board-dialog .selectBoardContainer .head .text {
    margin-bottom: 21px;
}

div#select-board-dialog .selectBoardContainer .body .list .item.selected {
    background: var(--theia-ui-button-color-secondary-hover);
}

div#select-board-dialog .selectBoardContainer .body .list .item.selected i{
    color: var(--theia-arduino-light);
}

#select-board-dialog .selectBoardContainer .search,
#select-board-dialog .selectBoardContainer .search input,
#select-board-dialog .selectBoardContainer .list,
#select-board-dialog .selectBoardContainer .list {
    background: var(--theia-layout-color0);
}

#select-board-dialog .selectBoardContainer .body .search input {
    border: none;
    width: 100%;
    height: auto;
    max-height: 37px;
    padding: 10px 5px 10px 10px;
    margin: 0;
    vertical-align: top;
    display: flex;
    color: var(--theia-content-font-color0);
}

#select-board-dialog .selectBoardContainer .body .search input:focus {
    box-shadow: none;
}

#select-board-dialog .selectBoardContainer .body .container {
    flex: 1;
    padding: 0px 10px 0px 0px;
}

#select-board-dialog .selectBoardContainer .body .left.container .content {
    margin: 0 5px 0 0;
}

#select-board-dialog .selectBoardContainer .body .right.container .content {
    margin: 0 0 0 5px;
}

#select-board-dialog .selectBoardContainer .body .container .content .title {
    color: #7f8c8d;
    padding: 0px 0px 10px 0px;
    text-transform: uppercase;
}

#select-board-dialog .selectBoardContainer .body .container .content .footer {
    padding: 10px 5px 10px 0px;
}

#select-board-dialog .selectBoardContainer .body .container .content .loading {
    font-size: var(--theia-ui-font-size1);
    color: #7f8c8d;
    padding: 10px 5px 10px 10px;
    text-transform: uppercase;
    /* The max, min-height comes from `.body .list` 265px + 47px top padding - 2 * 10px top padding */
    max-height: 292px;
    min-height: 292px;
}

#select-board-dialog .selectBoardContainer .body .list .item {
    padding: 10px 5px 10px 10px;
    display: flex;
    justify-content: end;
}

#select-board-dialog .selectBoardContainer .body .list .item .selected-icon {
    margin-left: auto;
}

#select-board-dialog .selectBoardContainer .body .list .item .detail {
    font-size: var(--theia-ui-font-size1);
    color: var(--theia-disabled-color0);
    width: 155px; /* used heuristics for the calculation */
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

#select-board-dialog .selectBoardContainer .body .list .item.missing {
    color: var(--theia-disabled-color0);
}

#select-board-dialog .selectBoardContainer .body .list .item:hover {
    background: var(--theia-ui-button-color-secondary-hover);
}

#select-board-dialog .selectBoardContainer .body .list {
    max-height: 265px;
    min-height: 265px;
    overflow-y: auto;
}

#select-board-dialog .selectBoardContainer .body .ports.list {
    margin: 47px 0px 0px 0px /* 47 is 37 as input height for the `Boards`, plus 10 margin bottom. */
}

#select-board-dialog .selectBoardContainer .body .search {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.p-Widget.dialogOverlay .dialogContent.select-board-dialog {
    width: 740px;
}

button.theia-button {
    height: 31px;
}

button.theia-button.secondary {
    background-color: #b5c8c9;
    color: #000;
    box-shadow: 0 4px #95a5a6;
}

button.theia-button.main {
    color: #fff;
    /* background-color: #00979c; */
    box-shadow: 0 4px var(--theia-accent-color0);
}

.dialogControl {
    margin: 0 20px 30px 0;
}

.arduino-boards-toolbar-item-container {
    margin-left: 3px;
}

.arduino-boards-toolbar-item-container .arduino-boards-toolbar-item .inner-container {
    display: flex;
    align-items: baseline;
    width: 100%;
}

.arduino-boards-toolbar-item-container .arduino-boards-toolbar-item .inner-container .notAttached {
    width: 10px;
    height: 10px;
    color: red;
    margin: 0 5px;
}

.arduino-boards-toolbar-item-container {
    display: flex;
    align-items: center;
    width: 220px;
}

.arduino-boards-toolbar-item .label {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 5px;
    width: 100%;
}

.arduino-boards-toolbar-item .caret {
    width: 10px;
    margin-right: 5px;
}

.arduino-boards-toolbar-item {
    background: var(--theia-layout-color1);
    height: 22px;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.arduino-boards-dropdown-list {
    border: 3px solid var(--theia-border-color2);
    margin: -3px;
    z-index: 1;
}

.arduino-boards-dropdown-item {
    font-size: var(--theia-ui-font-size1);
    display: flex;
    padding: 10px;
    cursor: pointer;
    color: var(--theia-ui-font-color1);
    background: var(--theia-layout-color1);
}

.arduino-boards-dropdown-item .fa-check {
    color: var(--theia-accent-color1);
    align-self: center;
}

.arduino-boards-dropdown-item.selected,
.arduino-boards-dropdown-item:hover {
    background: var(--theia-layout-color3);
}
