.p-TabBar.theia-app-centers
    .p-TabBar-tab.p-mod-closable.a-mod-uncloseable.theia-mod-dirty
    > .p-TabBar-tabCloseIcon:before {
    content: "\ea71";
}

.monaco-list-row.show-file-icons.focused {
    background-color: var(--theia-quickInputList-focusBackground);
}

.monaco-editor .view-overlays .compiler-error {
    background-color: var(--theia-inputValidation-errorBackground);
    opacity: 0.4 !important;
}
