.ide-updater-dialog {
  width: 546px;
}

.ide-updater-dialog .bold {
  font-weight: bold;
}

.ide-updater-dialog--pre-download {
  display: flex;
}

.ide-updater-dialog--logo-container {
  margin-right: 28px;
}

.ide-updater-dialog--logo {
  background: url('./ide-logo.png') round;
  width: 52px;
  height: 52px;
}

.dialogContent.ide-updater-dialog
  .ide-updater-dialog--content
  .ide-updater-dialog--new-version-text.dialogSection {
  margin-top: 0;
}

.ide-updater-dialog .changelog-container {
  color: var(--theia-dropdown-foreground);
  background-color: var(--theia-dropdown-background);
  border: 1px solid var(--theia-tree-indentGuidesStroke);
  border-radius: 2px;
  font-size: 12px;
  height: 180px;
  overflow: auto;
  padding: 0 12px;
  cursor: text;
}

.ide-updater-dialog .changelog-container a {
  color: #018184;
}

.ide-updater-dialog .changelog-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ide-updater-dialog .changelog-container code {
  background: #ecf1f1;
  border-radius: 2px;
  padding: 0 2px;
}

.ide-updater-dialog .changelog-container a code {
  color: #018184;
}

.ide-updater-dialog .buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 28px;
}

.ide-updater-dialog .buttons-container a.theia-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ide-updater-dialog .buttons-container a.theia-button:hover {
  color: var(--theia-button-foreground);
}

.ide-updater-dialog .buttons-container .push {
  margin-right: auto;
}
