.library-tab-icon {
    -webkit-mask: url("../icons/library-tab-icon.svg");
    mask: url("../icons/library-tab-icon.svg");
}

.arduino-list-widget {
    color: var(--theia-foreground);
}

.arduino-list-widget .search-bar {
    margin: 0px 10px 5px 15px;
}

.arduino-list-widget .search-bar:focus {
    border-color: var(--theia-focusBorder);
}

.arduino-list-widget .filter-bar {
    margin: 0px 10px 5px 15px;
}

.arduino-list-widget .filter-bar>* {
    padding: 5px 5px 0px 0px;
}

.arduino-list-widget .filter-bar .filter {
    display: flex;
    align-items: center;
}

.arduino-list-widget .filter-bar .filter>select {
    width: 120px;
}

.arduino-list-widget .filter-bar .filter-label {
    display: flex;
    width: 50px;
}

.filterable-list-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    /* This has top be 100% down to the `scrollContainer`. */
}

.component-list-item {
    padding: 20px 15px 25px;
}

.component-list-item .header {
    padding-bottom: 2px;
    min-height: var(--theia-statusBar-height);
}

.component-list-item .header>div {
    display: flex;
}

.component-list-item .header>div .p-TabBar-toolbar {
    align-self: start;
    padding: unset;
    margin-right: unset;
}

.component-list-item:hover .header>div .p-TabBar-toolbar>div {
    visibility: visible;
}

.component-list-item .header>div .p-TabBar-toolbar>div {
    visibility: hidden;
}

.component-list-item .header .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
}

.component-list-item .header .title .name {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.component-list-item .header .version {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.component-list-item .header .author {
    color: var(--theia-panelTitle-inactiveForeground);
}

.component-list-item .header .version {
    color: var(--theia-panelTitle-inactiveForeground);
    padding-top: 4px;
}

.component-list-item .footer .theia-button.install {
    height: auto;
    /* resets the default Theia button height in the filterable list widget */
}

.component-list-item .header .installed-version:before {
    min-width: 79px;
    display: inline-block;
    justify-self: end;
    text-align: center;
    background-color: var(--theia-arduino-toolbar-dropdown-option-backgroundHover);
    padding: 2px 4px 2px 4px;
    font-size: 12px;
    max-height: calc(1em + 4px);
    color: var(--theia-button-background);
    content: attr(version);
    cursor: pointer;
    border-radius: 4px;
}

.component-list-item .header .installed-version:hover:before {
    content: attr(remove);
    text-transform: uppercase;
}

.component-list-item .content {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.component-list-item .content>p {
    margin-block-start: unset;
    margin-block-end: unset;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.component-list-item .content>.info {
    white-space: nowrap;
}

.component-list-item .footer {
    flex-direction: column-reverse;
    padding-top: 8px;
}

.component-list-item .footer>* {
    display: inline-block;
}

.filterable-list-container .separator {
    display: flex;
    flex-direction: row;
}

.filterable-list-container .separator :last-child,
.filterable-list-container .separator :first-child {
    min-height: 8px;
    max-height: 8px;
    min-width: 8px;
    max-width: 8px;
}

div.filterable-list-container>div>div>div>div:nth-child(1)>div.separator :first-child,
div.filterable-list-container>div>div>div>div:nth-child(1)>div.separator :last-child {
    display: none;
}

.filterable-list-container .separator .line {
    max-height: 1px;
    height: 1px;
    background-color: var(--theia-activityBar-inactiveForeground);
    flex: 1 1 auto;
}

.component-list-item:hover .footer>label {
    display: inline-block;
    align-self: center;
}

.component-list-item .info a {
    color: var(--theia-button-background);
    text-decoration: none;
}

.component-list-item a:hover {
    text-decoration: underline;
}

.component-list-item .theia-button.secondary.no-border {
    border: 2px solid var(--theia-button-foreground);
}

.component-list-item .theia-button.secondary.no-border:hover {
    border: 2px solid var(--theia-secondaryButton-foreground);
}

.component-list-item .theia-button {
    margin-left: 12px;
}

.component-list-item .theia-select {
    height: var(--arduino-button-height);
    min-height: var(--arduino-button-height);
    width: 65px;
    min-width: 65px;
}