.p-TabBar.theia-app-centers .p-TabBar-tabIcon.arduino-serial-monitor-tab-icon {
    background: url(../icons/buttons.svg);
    background-size: 800%;
    background-position-y: 41px;
    background-position-x: 19px;
}

.serial-monitor-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.serial-monitor-container .head {
    display: flex;
    padding: 5px;
    background: var(--theia-layout-color0);
    height: 27px;
}

.serial-monitor-container .head .send {
    display: flex;
    flex:1;
}

.serial-monitor-container .head .send .btn {
    display: flex;
    padding: 0 5px;
    align-items: center;
    color: var(--theia-ui-font-color1);
    opacity: 0.7;
}
.serial-monitor-container .head .send .btn:hover {
    opacity: 1;
    cursor: pointer;
}

.serial-monitor-container .head .send form {
    flex: 1;
    display: flex;
    background: var(--theia-layout-color2);
}

.serial-monitor-container .head .send input#serial-monitor-send {
    color: var(--theia-ui-font-color1);
    flex: 1;
}

.serial-monitor-container .head .send input:focus {
    outline: none;
}

.serial-monitor-container .head .config {
    display: flex;
}

.serial-monitor-container .head .config .serial-monitor-select {
    margin-left: 5px;
}

#serial-monitor-output-container {
    overflow: auto;
    flex: 1;
    padding: 6px;
}

.p-TabBar-toolbar .item.arduino-monitor {
    width: 24px;
    justify-content: center;
    font-size: medium;
    box-sizing: border-box;
}

.p-TabBar-toolbar .item.arduino-monitor.toggled {
    background: var(--theia-secondary-brand-color1);
}

.p-TabBar-toolbar .item .clear-all {
    background: var(--theia-icon-clear) no-repeat;
}

/* React Select Styles */
.serial-monitor-select .sms__control {
    border: var(--theia-layout-color2) var(--theia-border-width) solid;
    background: var(--theia-layout-color2);
}

.serial-monitor-select .sms__control:hover {
    border: var(--theia-layout-color2) var(--theia-border-width) solid !important;
}

.serial-monitor-select .sms__control--is-focused {
    border-color: var(--theia-accent-color3) !important;
    box-shadow: none !important;
}

.serial-monitor-select .sms__option--is-selected {
    background-color: var(--theia-accent-color3);
    color: var(--theia-content-font-color0);
    border-color: var(--theia-accent-color3);
}

.serial-monitor-select .sms__option--is-focused {
    background-color: var(--theia-accent-color4);
    border-color: var(--theia-accent-color3);
}

.serial-monitor-select .sms__menu {
    background-color: var(--theia-layout-color2);
    border: 1px solid var(--theia-accent-color3);
    top: auto !important; /* to align the top of the menu with the bottom of the control */
    box-shadow: none;
}

.serial-monitor-select .sms__control.sms__control--menu-is-open {
    border: 1px solid;
    border-color: var(--theia-accent-color3) !important;
    border-bottom-color: var(--theia-layout-color2) !important; /* if the bottom border color has the same color as the background of the control, we make the border "invisible" */
}

.serial-monitor-select .sms__value-container .sms__single-value {
    color: var(--theia-ui-font-color1);
}

.sms__menu-list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
