.p-TabBar.theia-app-centers .p-TabBar-tabIcon.arduino-serial-monitor-tab-icon {
    background: url(../icons/buttons.svg);
    background-size: 800%;
    background-position-y: 41px;
    background-position-x: 19px;
}

.serial-monitor {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.serial-monitor .head {
    display: flex;
    padding: 5px;
    background: var(--theia-layout-color0);
    height: 27px;
}

.serial-monitor .head .send {
    display: flex;
    flex: 1;
    margin-right: 2px;
}

.serial-monitor .head .send > input {
    line-height: var(--theia-content-line-height);
    width: 100%;
}

.serial-monitor .head .send > input:focus {
    border-color: var(--theia-accent-color3);
}

.serial-monitor .head .config {
    display: flex;
}

.serial-monitor .head .config .select {
    margin-left: 3px;
}

.serial-monitor .body {
    overflow: auto;
    flex: 1;
    padding: 5px;
}

.p-TabBar-toolbar .item.arduino-monitor {
    width: 24px;
    justify-content: center;
    font-size: medium;
    box-sizing: border-box;
}

.p-TabBar-toolbar .item.arduino-monitor.toggled {
    background: var(--theia-secondary-brand-color1);
}

.p-TabBar-toolbar .item .clear-all {
    background: var(--theia-icon-clear) no-repeat;
}
