.progress-bar {
    margin-top: 20px;
}

.progress-bar--outer {
    background: var(--theia-editorWidget-background);
    border-radius: 100px;
    height: 6px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--theia-panel-border);
}

.progress-bar--inner {
    transition: width 1s ease;
    height: 100%;
    background: var(--theia-progressBar-background);
    border-radius: 100px;
}

.progress-bar--percentage {
    align-items: flex-end;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.progress-bar--percentage-text {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
}
