.user-fields-dialog-title {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: left;
}

.user-fields-dialog-content {
  width: 408px;
}

.user-fields-dialog-content .field-label {
  color: #2c353a;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
}

.user-fields-dialog-content .theia-input {
  flex-grow: 1;
}
