.arduino-start-debug-icon {
    -webkit-mask: url('debug-dark.svg') 50%;
    mask: url('debug-dark.svg') 50%;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theia-ui-button-font-color);
}

.arduino-start-debug {
    border-radius: 12px;
}
